a:hover,
a:focus {
    color: #eb5982;
}
.navbar-default .navbar-nav>li>a:focus, 
.navbar-default .navbar-nav>li>a:hover {
	color: #eb5982;
}
.noo-header.header-6 .noo-main-menu .navbar-nav li > .sub-menu li a:hover {
	color: #eb5982;
}
.text-primary {
    color: #eb5982;
}
.bg-primary {
    color: #fff;
    background-color: #eb5982;
}
.btn-primary {
    background-color: #eb5982;
}
.btn-primary.disabled,
.btn-primary[disabled],
fieldset[disabled] .btn-primary,
.btn-primary.disabled:hover,
.btn-primary[disabled]:hover,
fieldset[disabled] .btn-primary:hover,
.btn-primary.disabled:focus,
.btn-primary[disabled]:focus,
fieldset[disabled] .btn-primary:focus,
.btn-primary.disabled.focus,
.btn-primary[disabled].focus,
fieldset[disabled] .btn-primary.focus,
.btn-primary.disabled:active,
.btn-primary[disabled]:active,
fieldset[disabled] .btn-primary:active,
.btn-primary.disabled.active,
.btn-primary[disabled].active,
fieldset[disabled] .btn-primary.active {
    background-color: #eb5982;
}
.btn-primary .badge {
    color: #eb5982;
}
.btn-link:hover,
.btn-link:focus {
    color: #eb5982;
}
.pagination .page-numbers.current {
    background: #eb5982;
    border-color: #eb5982;
}
.pagination a.page-numbers:hover {
    background: #eb5982;
    border-color: #eb5982;
}
.noo-slider .slider-indicators a.selected,
.noo-slider .slider-indicators a:hover {
    background-color: #eb5982;
}
.noo-slider .slider-control {
    background: #eb5982;
}
.hentry.sticky {
    border-color: #eb5982;
}
.hentry.sticky:after {
    background: #eb5982;
}
#comments ol li .comment-wrap .comment-block span.pull-left:hover,
#comments ul li .comment-wrap .comment-block span.pull-left:hover {
    background: #eb5982;
}
#comments #respond .form-submit input {
    background-color: #eb5982;
}
#comments #respond .form-submit input:hover {
    background: #eb5982;
}
#comments #respond .form-submit input.disabled,
#comments #respond .form-submit input[disabled],
fieldset[disabled] #comments #respond .form-submit input,
#comments #respond .form-submit input.disabled:hover,
#comments #respond .form-submit input[disabled]:hover,
fieldset[disabled] #comments #respond .form-submit input:hover,
#comments #respond .form-submit input.disabled:focus,
#comments #respond .form-submit input[disabled]:focus,
fieldset[disabled] #comments #respond .form-submit input:focus,
#comments #respond .form-submit input.disabled.focus,
#comments #respond .form-submit input[disabled].focus,
fieldset[disabled] #comments #respond .form-submit input.focus,
#comments #respond .form-submit input.disabled:active,
#comments #respond .form-submit input[disabled]:active,
fieldset[disabled] #comments #respond .form-submit input:active,
#comments #respond .form-submit input.disabled.active,
#comments #respond .form-submit input[disabled].active,
fieldset[disabled] #comments #respond .form-submit input.active {
    background-color: #eb5982;
}
#comments #respond .form-submit input .badge {
    color: #eb5982;
}
.cube1,
.cube2 {
    background-color: #eb5982;
}
.widget ul li a:hover {
    color: #eb5982;
}
.widget ul li.current-cat {
    color: #eb5982;
}
.widget ul li.current-cat a {
    color: #eb5982;
}
.widget_calendar table td#today,
.widget_calendar table th#today {
    background-color: #eb5982;
}
.commerce ul.product_list_widget li .amount {
    color: #eb5982;
}
.widget_product_tag_cloud .tagcloud a:hover {
    background: #eb5982;
    border-color: #eb5982;
}
.noo-main-menu .navbar-nav li > .sub-menu li a:hover {
    color: #eb5982;
}
.noo-menu-option ul li a:hover,
.noo-menu-option ul li a:focus {
    color: #eb5982;
}
.noo-header.header-3 .noo-menu-option ul li a:hover {
    color: #eb5982;
}
.noo-header.header-4 .noo-main-menu .navbar-nav li > a:hover,
.noo-header.header-4 .noo-main-menu .navbar-nav li > a:focus {
    color: #eb5982;
}
.noo-header.header-4 .noo-main-menu .navbar-nav li > .sub-menu li a:hover {
    color: #eb5982;
}
.noo-header.header-5 .noo-header-anchor ul li div a:hover {
    color: #eb5982;
}
.noo-header.header-5 .noo-header-anchor ul li div a:hover span {
    color: #eb5982;
}
.noo-header.header-6 .noo-main-menu .navbar-nav li > a:hover,
.noo-header.header-6 .noo-main-menu .navbar-nav li > a:focus {
    color: #eb5982;
}
.noo-header .menu-position .navbar-nav > li.noo_megamenu > .sub-menu > li .noo_megamenu_widget_area li a:hover {
    color: #eb5982;
}
body.fixed_top .noo-header.header-6.eff .noo-main-menu .navbar-nav li > a:hover,
body.fixed_top .noo-header.header-4.eff .noo-main-menu .navbar-nav li > a:hover {
    color: #eb5982;
}
body.fixed_top .noo-header.header-6.eff .noo-main-menu .navbar-nav li > .sub-menu li a:hover,
body.fixed_top .noo-header.header-4.eff .noo-main-menu .navbar-nav li > .sub-menu li a:hover {
    color: #eb5982;
}
.search-header5 form input[type='submit'] {
    background: #eb5982;
}
.noo-menu-item-cart .cart-item span {
    color: #eb5982;
}
.noo-menu-item-cart .noo-minicart .minicart-body .cart-product .cart-product-details .cart-product-title a:hover {
    color: #eb5982;
}
.noo-menu-item-cart .noo-minicart .minicart-body .cart-product .cart-product-details .cart-product-quantity {
    color: #eb5982;
}
.noo-instagram .noo-instagram-info {
    background: #eb5982;
}
.noo-services-columns li .line-top {
    background-color: #eb5982;
}
.noo-services-columns li .line-top span:first-child:before,
.noo-services-columns li .line-top span:last-child:before,
.noo-services-columns li .line-left span:first-child:before,
.noo-services-columns li .line-left span:last-child:before {
    border: 10px solid #eb5982;
}
.noo-services-columns li .line-left {
    background-color: #eb5982;
}
.filter-menu li span.selected,
.filter-menu li span:hover {
    color: #eb5982;
}
.noo-menu-content li .product-menu-ds .product-menu-flex .price {
    color: #eb5982;
}
.noo-menu-content li .product-menu-ds .product-menu-flex .p-menu-title a:hover {
    color: #eb5982;
}
.inheader-sh-title h4 {
    color: #eb5982;
}
.custom_countdown_wrap h4 {
    color: #eb5982;
}
.custom_countdown_wrap .price {
    color: #eb5982;
}
.custom_countdown_wrap .countdown-section {
    border: 2px solid #eb5982;
}
.noo-countdown-product .price {
    color: #eb5982;
}
.noo-countdown-product .noo-product-action .noo-action .add_to_cart_button {
    background: #eb5982;
}
.noo-countdown-product .noo-product-action .noo-action .yith-wcwl-add-to-wishlist a,
.noo-countdown-product .noo-product-action .noo-action .yith-wcwl-wishlistexistsbrowse a {
    background: #eb5982;
}
.noo-countdown-product.style_white .noo-product-action .noo-action .add_to_cart_button:hover,
.noo-countdown-product.style_white .noo-product-action .noo-action .yith-wcwl-add-to-wishlist a:hover,
.noo-countdown-product.style_white .noo-product-action .noo-action .yith-wcwl-wishlistexistsbrowse a:hover {
    background-color: #eb5982;
}
.noo-button-creative a {
    background: #eb5982;
}
.noo-button-creative a span.first {
    background: #eb5982;
}
.noo-button-creative a span.first:before {
    border-top: 17.5px solid #eb5982;
}
.noo-button-creative a span.first:before {
    border-bottom: 17.5px solid #eb5982;
}
.noo-button-creative a span.second:before {
    border-left: 27px solid #eb5982;
}
.noo-button-creative a span.second:after {
    border-right: 27px solid #eb5982;
}
.noo-button-creative a .three {
    background: #eb5982;
}
.noo-button-creative a .three:before {
    border-top: 17.5px solid #eb5982;
}
.noo-button-creative a .three:after {
    border-bottom: 17.5px solid #eb5982;
}
.noo-button-creative a .four:before {
    border-bottom: 8px solid #eb5982;
}
.noo-button-creative a .four:after {
    border-top: 8px solid #eb5982;
}
.noo-line .line-one {
    border-color: #eb5982;
}
.noo-line .line-one span:first-child:before {
    border: 1px solid #eb5982;
}
.noo-line .line-one span:last-child:before {
    border: 1px solid #eb5982;
}
.noo-line .line-two {
    border-color: #eb5982;
}
.noo-line .line-two span:first-child:before {
    border: 1px solid #eb5982;
}
.noo-line .line-two span:last-child:before {
    border: 1px solid #eb5982;
}
.noo-simple-product-slider li .noo-simple-slider-item .n-simple-content .price {
    color: #eb5982;
}
.noo-simple-slider-content .noo-product-action .noo-action .add_to_cart_button:hover {
    background-color: #eb5982;
}
.noo-simple-slider-content .noo-product-action .noo-action .yith-wcwl-add-to-wishlist a:hover,
.noo-simple-slider-content .noo-product-action .noo-action .yith-wcwl-wishlistexistsbrowse a:hover {
    background: #eb5982;
}
.noo-our_story .text-center a {
    background-color: #eb5982;
}
.noo-blog-list li .cat {
    color: #eb5982;
}
.noo-blog-list li .cat a {
    color: #eb5982;
}
.blog-item:hover .blog-description h3 a {
    color: #eb5982;
}
.blog-item .blog-quote cite {
    color: #eb5982;
}
.blog-item .blog-description .cat a:hover {
    color: #eb5982;
}
.blog-item .blog-description .meta a:hover {
    color: #eb5982;
}
.blog-item .blog-description .view-more {
    background-color: #eb5982;
}
.content-meta .content-tags span {
    color: #eb5982;
}
.content-meta .content-tags a:hover {
    color: #eb5982;
}
.content-meta .single-social .text-share {
    color: #eb5982;
}
.content-meta .single-social .content-share a:hover {
    color: #eb5982;
}
.single #author-bio .author-social a:hover {
    color: #eb5982;
}
.single .post-navigation-line .prev-post:hover i,
.single .post-navigation-line .prev-post:hover a {
    color: #eb5982;
}
.single .post-navigation-line .next-post:hover i,
.single .post-navigation-line .next-post:hover a {
    color: #eb5982;
}
.noo_testimonial_wrap .noo-testimonial-sync2 .testimonial-name .noo_testimonial_name {
    color: #eb5982;
}
.noo_testimonial_wrap .noo-testimonial-sync2.testimonial-three .owl-controls .owl-buttons div:hover {
    color: #eb5982;
}
.noo_testimonial_wrap.noo_farmer_wrap .noo-testimonial-sync2 .testimonial-content .social a:hover {
    color: #eb5982;
}
.product-list-item .right-img a span:hover em {
    background-color: #eb5982;
}
.view_all {
    background-color: #eb5982;
}
.noo-farmer:hover .noo-farmer-content {
    background: #eb5982;
}
.noo-farmer .noo-farmer-thumbnail span.first:before {
    background: #eb5982;
}
.noo-farmer .noo-farmer-thumbnail span.second:before {
    background: #eb5982;
}
.noo-farmer .noo-farmer-thumbnail span.second:after {
    background: #eb5982;
}
.noo-farmer .noo-farmer-content .social a:hover {
    color: #eb5982;
}
.noo-atributes-item .eff .eff1 {
    border: 1px solid #eb5982;
}
.noo-atributes-item .eff .eff2 {
    border: 1px solid #eb5982;
}
.noo-header-filter li a.selected span,
.noo-header-filter li > span.selected span,
.noo-header-filter li a:hover span,
.noo-header-filter li > span:hover span {
    color: #eb5982;
}
.owl-theme .owl-controls .owl-page.active span,
.owl-theme .owl-controls .owl-page:hover span {
    background-color: #eb5982;
}
div.product-style2 .product-grid .noo-product-inner .noo-product-title .price {
    color: #eb5982;
}
div.product-style2 .product-grid .noo-product-inner .noo-product-title .noo-product-action .noo-action .noo-qucik-view,
div.product-style2 .product-grid .noo-product-inner .noo-product-title .noo-product-action .noo-action .add_to_cart_button,
div.product-style2 .product-grid .noo-product-inner .noo-product-title .noo-product-action .noo-action .yith-wcwl-add-to-wishlist,
div.product-style2 .product-grid .noo-product-inner .noo-product-title .noo-product-action .noo-action .link-detail {
    background-color: #eb5982;
}
.product-masonry .noo-product-table-cell span a:hover {
    background: #eb5982;
    border-color: #eb5982;
}
.commerce-wishlist table.wishlist_table th {
    background: #eb5982;
}
.commerce-wishlist table.wishlist_table .actions .continue:hover {
    background: #eb5982;
}
.quick-view-wrap .quick-content .quick-right .price {
    color: #eb5982;
}
.quick-view-wrap .quick-content .quick-right form.cart .button {
    background: #eb5982;
}
.google-map .noo-address-info-wrap .address-info {
    background-color: #eb5982;
}
.noo-sh-mailchimp .newsletter-form-fields input[type="submit"] {
    background-color: #eb5982;
}
.wrap-footer a:hover {
    color: #eb5982;
}
.mailchimp-widget .mc-subscribe-form button {
    background-color: #eb5982;
}
.mailchimp-widget .mc-subscribe-form button.disabled,
.mailchimp-widget .mc-subscribe-form button[disabled],
fieldset[disabled] .mailchimp-widget .mc-subscribe-form button,
.mailchimp-widget .mc-subscribe-form button.disabled:hover,
.mailchimp-widget .mc-subscribe-form button[disabled]:hover,
fieldset[disabled] .mailchimp-widget .mc-subscribe-form button:hover,
.mailchimp-widget .mc-subscribe-form button.disabled:focus,
.mailchimp-widget .mc-subscribe-form button[disabled]:focus,
fieldset[disabled] .mailchimp-widget .mc-subscribe-form button:focus,
.mailchimp-widget .mc-subscribe-form button.disabled.focus,
.mailchimp-widget .mc-subscribe-form button[disabled].focus,
fieldset[disabled] .mailchimp-widget .mc-subscribe-form button.focus,
.mailchimp-widget .mc-subscribe-form button.disabled:active,
.mailchimp-widget .mc-subscribe-form button[disabled]:active,
fieldset[disabled] .mailchimp-widget .mc-subscribe-form button:active,
.mailchimp-widget .mc-subscribe-form button.disabled.active,
.mailchimp-widget .mc-subscribe-form button[disabled].active,
fieldset[disabled] .mailchimp-widget .mc-subscribe-form button.active {
    background-color: #eb5982;
}
.mailchimp-widget .mc-subscribe-form button .badge {
    color: #eb5982;
}
.widget_noo_social .noo_social a:hover {
    background: #eb5982;
}
.footer-2 .widget_noo_social .noo_social a:hover {
    border-color: #eb5982;
}
.footer-3 a:hover {
    color: #eb5982;
}
.footer-3 .widget ul li a:hover {
    color: #eb5982;
}
.footer-3 .noo-bottom-bar-content i {
    color: #eb5982;
}
.footer-4 .widget_noo_social .noo_social a:hover {
    color: #eb5982;
}
.footer-4 .noo-bottom-bar-content i {
    color: #eb5982;
}
.widget_tag_cloud .tagcloud a:hover {
    border-color: #eb5982;
    background: #eb5982;
}
.footer-2 .widget.widget_text .copyright i {
    color: #eb5982;
}
.widget_noo_happyhours .widget-title {
    color: #eb5982;
}
.noo-footer-shop-now .noo-show-now:hover em {
    background-color: #eb5982;
}
@media (max-width: 991px) {
	.off-canvas #off-canvas-nav .noo-main-canvas .nav-collapse li a:hover {
        color: #eb5982;
    }
    .off-canvas #off-canvas-nav .noo-main-canvas .nav-collapse li a:hover:after {
        color: #eb5982;
    }
}
.commerce .widget_price_filter .ui-slider .ui-slider-handle,
.commerce .widget_price_filter .ui-slider .ui-slider-range {
    background: #eb5982;
}
.commerce .widget_price_filter .price_slider_amount .button:hover {
    background: #eb5982;
}
.commerce .product-grid .noo-product-inner:hover {
    border-color: #eb5982;
}
.commerce .product-grid .noo-product-title .noo-product-action {
    background: #eb5982;
}
.commerce .product-list .noo-product-title .noo-product-action .add_to_cart_button {
    background: #eb5982;
}
.commerce .product-list .noo-product-title .price {
    color: #eb5982;
}
.commerce #respond input#submit,
.commerce a.button,
.commerce a.button.alt,
.commerce button.button,
.commerce input.button {
    background: #eb5982;
}
.commerce .noo-catalog .commerce-result-count em {
    color: #eb5982;
}
.product-style-control span:hover,
.product-style-control span.active {
    background: #eb5982;
}
.single-product div.product .images .project-slider .sync2 .item:hover {
    border: 1px solid #eb5982;
}
.single-product div.product .entry-summary .noo_link_boxes > li > a:hover {
    background-color: #eb5982;
}
.single-product div.product .entry-summary .price {
    color: #eb5982;
}
.single-product div.product .entry-summary form.cart .button {
    background: #eb5982;
}
.single-product div.product .entry-summary .yith-wcwl-add-to-wishlist a {
    background: #eb5982;
}
.single-product div.product .noo-social-share a:hover {
    color: #eb5982;
}
.single-product div.product .commerce-tabs ul.tabs li:hover {
    background-color: #eb5982;
}
.single-product div.product .commerce-tabs .tab-pane #review_form_wrapper .form-submit input {
    background: #eb5982;
}
.commerce-cart table.cart th {
    background: #eb5982;
}
.commerce-cart table.cart .actions .continue:hover {
    background: #eb5982;
}
.commerce-page .cart-collaterals .cart_totals table .order-total .amount {
    color: #eb5982;
}
.commerce-page .cart-collaterals .cart_totals .wc-proceed-to-checkout a.checkout-button {
    background: #eb5982;
}
.commerce-account input.button {
    background: #eb5982;
}
.commerce-account #customer_login h2:before {
    color: #eb5982;
}
.commerce nav.commerce-pagination ul li a.current,
.commerce nav.commerce-pagination ul li span.current,
.commerce nav.commerce-pagination ul li a:hover,
.commerce nav.commerce-pagination ul li span:hover {
    background-color: #eb5982;
    border-color: #eb5982;
}
.noo-countdown-product .noo-product-action .noo-action .add_to_cart_button:hover {
    background: #EA0042;
}
.noo-countdown-product .noo-product-action .noo-action .yith-wcwl-add-to-wishlist a:hover,
.noo-countdown-product .noo-product-action .noo-action .yith-wcwl-wishlistexistsbrowse a:hover {
    background: #EA0042;
}
.noo-our_story .text-center a:hover {
    background-color: #EA0042;
}
.view_all:hover {
    background-color: #EA0042;
}
.noo-sh-mailchimp .newsletter-form-fields input[type="submit"]:hover {
    background-color: #EA0042;
}
.commerce .product-grid .noo-product-inner:hover .noo-product-title .noo-product-action {
    background: #EA0042;
}
.commerce .product-list .noo-product-title .noo-product-action .add_to_cart_button:hover {
    background: #EA0042;
}
.commerce #respond input#submit:hover,
.commerce a.button:hover,
.commerce a.button.alt:hover,
.commerce button.button:hover,
.commerce input.button:hover {
    background: #EA0042;
}
.single-product div.product .entry-summary form.cart .button:hover {
    background: #EA0042;
}
.single-product div.product .entry-summary .yith-wcwl-add-to-wishlist a:hover {
    background: #EA0042;
}
.single-product div.product .commerce-tabs .tab-pane #review_form_wrapper .form-submit input:hover {
    background: #EA0042;
}
.rev-btn.btn-1:hover {
	background-color: #eb5982 !important;
	border-color: #eb5982 !important;
}
.rev-btn.btn-2 {
	background-color: #eb5982;
	border-color: #eb5982;
}
.btn-primary:hover {
    background-color: #EA0042;
    border-color: #EA0042;
}