{% extends 'base.html' %}
{% load staticfiles %}
{% block content %}
	<div class="main">
				<div class="blog noo-shop-main">
					<div class="container">
						<div class="row">
							<div class="noo-main col-md-9">
								{% for item in object_list %}
									<article class="hentry">
									<div class="blog-item">
										<div class="content-featured">
											{% if item.image %}
												<div class="blog-thumbnail">
													<a class="content-thumb" href="{{ item.get_absolute_url }}">
														<img width="740" height="440" src="{{ item.image.url }}" alt=""/>
													</a>
												</div>
											{% else %}
											{% endif %}
										</div>
										<div class="blog-description">
											<span class="cat">
												<a href="{{ item.category.get_absolute_url }}">{{ item.category }}</a> 
											</span>
											<h3><a href="{{ item.get_absolute_url }}">{{ item.title|title }}</a></h3>
											<span class="meta">
												{{ item.publish_date }} {% if item.user %}By <a href="#">{{ item.user.get_full_name }}</a> {% else %}{% endif %}
											</span>
											<div class="blog_excerpt">
												<p>
													{{ item.content|truncatewords_html:50|striptags  }}
												</p>
												<a href="{{ item.get_absolute_url }}" class="view-more"><span>View more</span></a>
											</div>
											<div class="content-meta">
												<div class="content-tags">
													<span class="fa fa-tag"></span>
													{% for tag in item.tags.all %}	
														<a href="{{ tag.get_absolute_url }}" style="text-transform: none;">{{ tag }}</a>,
													{% endfor %}
												</div>
												<div class="single-social">
													<span class="text-share">
														<span class="fa fa-share-alt"></span>Share this post	</span>
													<div class="content-share">
														<div class="noo-social social-share">
															<a href="https://www.facebook.com/sharer/sharer.php?u={{ request.build_absolute_uri }}" class="noo-share" title="Share on Facebook">
																<i class="fa fa-facebook"></i>
															</a>
															<a href="https://twitter.com/home?status=Check%20out%20Soul%20Sugar%20Bakery%20and%20Patisserie%20Blog%20%{{ request.build_absolute_uri }}" class="noo-share" title="Share on Twitter">
																<i class="fa fa-twitter"></i>
															</a>
														</div>
													</div> 
												</div>
											</div>
										</div>
									</div>
								</article>
								{% endfor %}
								
								
								<div class="pagination list-center">
									{% if object_list.has_previous %}
							            <a class="previous page-numbers" href="?page={{ object_list.previous_page_number }}{% if request.GET.q %}&q={{ request.GET.q }}{% endif %}"><i class="fa fa-long-arrow-left"></i></a>
							        {% endif %}

							        <span class="page-numbers current">
							            {{ object_list.number }} 
							        </span>
							        {% if object_list.has_next %}
							            <a class="next page-numbers" href="?page={{ object_list.next_page_number }}{% if request.GET.q %}&q={{ request.GET.q }}{% endif %}"><i class="fa fa-long-arrow-right"></i></a>
							        {% endif %}
								</div>
							</div>
							{% include 'blog/blog_right_sidebar.html' %}
						</div>
					</div>
				</div>
			</div>
{% endblock %}