{% extends 'base.html' %}
{% load staticfiles %}
{% block content %}
	<div class="main">
				<div class="blog noo-shop-main">
					<div class="container">
						<div class="row">
							<div class="noo-main col-md-9">
								<article class="hentry">
									<div class="blog-item">
										<div class="content-featured">
											<div class="blog-thumbnail">
												<a class="content-thumb" href="blog-detail.html">
													<img width="740" height="440" src="images/blog/blog_740x440.jpg" alt="" />
												</a>
											</div>
										</div>
										<div class="blog-description">
											<span class="cat">
												<a href="#">Organic Food</a>/<a href="#">Tips &amp; Guides</a> 
											</span>
											<h3><a href="blog-detail.html">Tips for Ripening your Fruit</a></h3>
											<span class="meta">
												December 4, 2015 By <a href="#">admin</a> 
											</span>
											<div class="blog_excerpt">
												<p>
													Maecenas tristique gravida, odio et sagi ttis justo. Susp endisse ultricies nisi vel quam suscipit, et rutrum odio porttitor. Donec dictum non nulla ut lobortis. Maecenas tristique gravida, odio et sagi ttis justo. Aliquam vitae mi a eros tincidunt ultricies. Donec porta gravida arcu. Morbi facilisis lorem felis, eu inerdum quam scelerisque eu. Phasellus vel turpis dictum, pulvinar nulla&#8230;
												</p>
												<a href="blog-detail.html" class="view-more"><span>View more</span></a>
											</div>
											<div class="content-meta">
												<div class="content-tags">
													<span class="fa fa-tag"></span>
													<a href="#">organic food</a>, <a href="#">organic gardening</a>, <a href="#">organic living</a> 
												</div>
												<div class="single-social">
													<span class="text-share">
														<span class="fa fa-share-alt"></span>Share this post
													</span>
													<div class="content-share">
														<div class="noo-social social-share">
															<a href="#share" class="noo-share" title="Share on Facebook">
																<i class="fa fa-facebook"></i>
															</a>
															<a href="#share" class="noo-share" title="Share on Twitter">
																<i class="fa fa-twitter"></i>
															</a>
															<a href="#share" class="noo-share" title="Share on Google+">
																<i class="fa fa-google-plus"></i>
															</a>
															<a href="#share" class="noo-share" title="Share on Pinterest">
																<i class="fa fa-pinterest"></i>
															</a>
														</div>
													</div> 
												</div>
											</div>
										</div>
									</div>
								</article>
								<article class="hentry">
									<div class="blog-item">
										<div class="content-featured">
											<div class="blog-thumbnail">
												<a class="content-thumb" href="blog-detail.html">
													<img width="740" height="440" src="images/blog/blog_740x440.jpg" alt="" />
												</a>
											</div>
										</div>
										<div class="blog-description">
											<span class="cat">
												<a href="#">General</a>/<a href="#">Recipes</a> 
											</span>
											<h3><a href="blog-detail.html">Feeding kids organic food</a></h3>
											<span class="meta">
												December 4, 2015 By <a href="#">admin</a> 
											</span>
											<div class="blog_excerpt">
												<p>
													Maecenas tristique gravida, odio et sagi ttis justo. Susp endisse ultricies nisi vel quam suscipit, et rutrum odio porttitor. Donec dictum non nulla ut lobortis. Maecenas tristique gravida, odio et sagi ttis justo. Aliquam vitae mi a eros tincidunt ultricies. Donec porta gravida arcu. Morbi facilisis lorem felis, eu inerdum quam scelerisque eu. Phasellus vel turpis dictum, pulvinar nulla&#8230;
												</p>
												<a href="blog-detail.html" class="view-more"><span>View more</span></a>
											</div>
											<div class="content-meta">
												<div class="content-tags">
													<span class="fa fa-tag"></span>
													<a href="#">fertiliser</a>, <a href="#">organic food</a>, <a href="#">tips</a> 
												</div>
												<div class="single-social">
													<span class="text-share">
														<span class="fa fa-share-alt"></span>Share this post
													</span>
													<div class="content-share">
														<div class="noo-social social-share">
															<a href="#share" class="noo-share" title="Share on Facebook">
																<i class="fa fa-facebook"></i>
															</a>
															<a href="#share" class="noo-share" title="Share on Twitter">
																<i class="fa fa-twitter"></i>
															</a>
															<a href="#share" class="noo-share" title="Share on Google+">
																<i class="fa fa-google-plus"></i>
															</a>
															<a href="#share" class="noo-share" title="Share on Pinterest">
																<i class="fa fa-pinterest"></i>
															</a>
														</div>
													</div> 
												</div>
											</div>
										</div>
									</div>
								</article>
								<article class="hentry">
									<div class="blog-item">
										<div class="content-featured">
											<div class="blog-thumbnail">
												<a class="content-thumb" href="blog-detail.html">
													<img width="740" height="440" src="images/blog/blog_740x440.jpg" alt="" />
												</a>
											</div>
										</div>
										<div class="blog-description">
											<span class="cat">
												<a href="#">Diet</a>/<a href="#">Organic Food</a> 
											</span>
											<h3><a href="blog-detail.html">Health Benefits of a Raw Food</a></h3>
											<span class="meta">
												December 4, 2015 By <a href="#">admin</a> 
											</span>
											<div class="blog_excerpt">
												<p>
													As more and more people are turning to more organic lifestyles and trying to improve their health through adopting better eating habits, there are also many people going one step further and enjoying the health benefits of a raw food diet. In this article I am going to firstly look at; why so many people are choosing raw foods over&#8230;
												</p>
												<a href="blog-detail.html" class="view-more"><span>View more</span></a>
											</div>
											<div class="content-meta">
												<div class="content-tags">
													<span class="fa fa-tag"></span>
													<a href="#">organic food</a>, <a href="#">tips</a> 
												</div>
												<div class="single-social">
													<span class="text-share">
														<span class="fa fa-share-alt"></span>Share this post
													</span>
													<div class="content-share">
														<div class="noo-social social-share">
															<a href="#share" class="noo-share" title="Share on Facebook">
																<i class="fa fa-facebook"></i>
															</a>
															<a href="#share" class="noo-share" title="Share on Twitter">
																<i class="fa fa-twitter"></i>
															</a>
															<a href="#share" class="noo-share" title="Share on Google+">
																<i class="fa fa-google-plus"></i>
															</a>
															<a href="#share" class="noo-share" title="Share on Pinterest">
																<i class="fa fa-pinterest"></i>
															</a>
														</div>
													</div> 
												</div>
											</div>
										</div>
									</div>
								</article>
								<div class="pagination list-center">
									<span class="page-numbers current">1</span>
									<a class="page-numbers" href="#">2</a>
									<a class="page-numbers" href="#">3</a>
									<a class="next page-numbers" href="#"><i class="fa fa-long-arrow-right"></i></a>
								</div>
							</div>
							<div class="noo-sidebar col-md-3">
								<div class="noo-sidebar-wrap">
									<div class="widget widget_search">
										<h3 class="widget-title">Search</h3>
										<form>
											<input type="search" class="search-field" placeholder="Search&hellip;" value="" name="s"/>
											<input type="submit" value="Search"/>
										</form>
									</div>
									<div class="widget widget_categories">
										<h3 class="widget-title">Categories</h3> 
										<ul>
											<li><a href="#">Diet</a> <span class="count">1</span></li>
											<li><a href="#">General</a> <span class="count">3</span></li>
											<li><a href="#">Organic Food</a> <span class="count">4</span></li>
											<li><a href="#">Organic Gardening</a> <span class="count">2</span></li>
											<li><a href="#">Recipes</a> <span class="count">1</span></li>
											<li><a href="#">Super Food</a> <span class="count">1</span></li>
											<li><a href="#">Tips &amp; Guides</a> <span class="count">2</span></li>
										</ul>
									</div>
									<div class="widget widget_recent_entries">
										<h3 class="widget-title">Popular posts</h3>
										<ul class="post_list_widget">
											<li>
												<a href="blog-detail.html">
													<span class="post-thumb" data-bg="images/blog/blog_150x150.jpg"></span>
													<span class="post-title">Tips for Ripening your Fruit</span>
													<span class="post-date">December 4, 2015</span>
												</a>
											</li>
											<li>
												<a href="blog-detail.html">
													<span class="post-thumb" data-bg="images/blog/blog_150x150.jpg"></span>
													<span class="post-title">Feeding kids organic food</span>
													<span class="post-date">December 4, 2015</span>
												</a>
											</li>
											<li>
												<a href="blog-detail.html">
													<span class="post-thumb" data-bg="images/blog/blog_150x150.jpg"></span>
													<span class="post-title">Health Benefits of a Raw Food</span>
													<span class="post-date">December 4, 2015</span>
												</a>
											</li>
										</ul>
									</div>
									<div class="widget widget_tag_cloud">
										<h3 class="widget-title">Search by tags</h3>
										<div class="tagcloud">
											<a href="#">diet</a>
											<a href="#">farm</a>
											<a href="#">fertiliser</a>
											<a href="#">organic</a>
											<a href="#">organic food</a>
											<a href="#">organic gardening</a>
											<a href="#">organic living</a>
											<a href="#">tips</a>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
				<div class="noo-footer-shop-now">
					<div class="container">
						<div class="col-md-7">
							<h4>- Every day fresh -</h4>
							<h3>organic food</h3>
						</div>
						<img src="images/organici-love-me.png" class="noo-image-footer" alt="" />
					</div>
				</div>
			</div>
{% endblock %}