<div class="noo-sidebar col-md-3">
	<div class="noo-sidebar-wrap">
		<div class="widget widget_search">
			<h3 class="widget-title">Search</h3>
				<form method="GET" action="{% url 'post_search' %}">
					<input type="search" class="search-field" placeholder="Search&hellip;" value="" name="q"/>
					<input type="submit" value="Search"/>
				</form>
		</div>
		<div class="widget widget_categories">
			<h3 class="widget-title">Categories</h3> 
			<ul>
				{% for blog_category_name in blog_categorys %}
					<li>
						<a href="{{ blog_category_name.get_absolute_url }}">{{ blog_category_name }}</a>
					</li>
				{% endfor %}
			</ul>
		</div>
		<div class="widget widget_recent_entries">
			<h3 class="widget-title">Popular posts</h3>
			<ul class="post_list_widget">											
				{% for recent_post in recent_post_list %}
					<li>
						<a href="{{ recent_post.get_absolute_url }}">
							<span class="post-title">{{ recent_post|title }}</span>
							<span class="post-date">{{ recent_post.publish_date }}</span>
						</a>
					</li>
				{% endfor %}
			</ul>
		</div>
		<div class="widget widget_tag_cloud">
			<h3 class="widget-title">Search by tags</h3>
				<div class="tagcloud">
					{% for tag in tags %}
						<a href="{{ tag.get_absolute_url }}">{{ tag }}</a>
					{% endfor %}
				</div>
		</div>
	</div>
</div>