{% extends 'base.html' %}
{% load staticfiles %}
{% block content %}
			<section class="noo-page-heading eff" style="background-image: url({% static 'images/Aboutus.jpg' %}); background-repeat:no-repeat;background-size:contain;background-position:center;">
				<div class="container">
					<div class="noo-heading-content">
						<h1 class="page-title eff">About Us</h1>
						<div class="noo-page-breadcrumb eff">
						</div>
					</div>
				</div>
			</section>
			<div class="main">
				<div class="pt-10 pb-10">
					<div class="container">
						<h3>Welcome!!</h3>
						<p>
							Soul Sugar is a business born out of a serious sweet tooth, passion and knowing how food is a central
							part of celebrations and brings people together. We are fuelled by the desire to make people's
							occasions all the more special with our treats. Soul Sugar is passion backed by sound professional
							knowledge . “Soul Sugar” was inspired by the Greek word “Meraki” which means “the soul,
							creativity, or love put into something; the essence of yourself that is put into your work”. These
							words highly resonate with all that we do.
							</p>
							<p>
							Every cake or dessert we make is made from the finest ingredients available, using the best
							techniques and is baked fresh to order in small batches. It is then hand-decorated by us cake
							obsessed people to make sure you get the best cake experience you've ever had. No short-cuts, no
							weird additives or preservatives, just beautiful, artistic, utterly delectable, highly customized treats
							delivered to your doorstep. What's not to love?
						</p>
					</div>
				</div>
			</div>
			{% if testimonials %}
					{% include 'testimonials.html' %}
			{% endif %}
{% endblock %}