{% load staticfiles %}
<script type='text/javascript' src="{% static 'js/jquery.min.js' %}"></script>
<script type='text/javascript' src="{% static 'js/bootstrap.min.js' %}"></script>
<script type='text/javascript' src="{% static 'js/jquery-migrate.min.js' %}"></script>
<script type='text/javascript' src="{% static 'js/modernizr-2.7.1.min.js' %}"></script>
<script type='text/javascript' src="{% static 'js/bootstrap.min.js' %}"></script>
<script type='text/javascript' src="{% static 'js/off-cavnass.js' %}"></script>
<script type='text/javascript' src="{% static 'js/script.js' %}"></script>
<script type='text/javascript' src="{% static 'js/custom.js' %}"></script>
<script type='text/javascript' src="{% static 'js/imagesloaded.pkgd.min.js' %}"></script>
<script type='text/javascript' src="{% static 'js/isotope.pkgd.min.js' %}"></script>
<script type='text/javascript' src="{% static 'js/portfolio.js' %}"></script>
<script type='text/javascript' src="{% static 'js/jquery.touchSwipe.min.js' %}"></script>
<script type='text/javascript' src="{% static 'js/jquery.carouFredSel-6.2.1.js' %}"></script>
<script type='text/javascript' src="{% static 'js/jquery.isotope.min.js' %}"></script>
<script type='text/javascript' src="{% static 'js/owl.carousel.min.js' %}"></script>
<script type='text/javascript' src="{% static 'js/jflickrfeed.min.js' %}"></script>
<script type='text/javascript' src="{% static 'js/jquery.magnific-popup.js' %}"></script>