{% load staticfiles %}
<link rel='stylesheet' href="{% static 'css/bootstrap.min.css' %}" type='text/css' media='all' />
<link rel='stylesheet' href="{% static 'css/settings.css' %}" type='text/css' media='all'/>
<link rel='stylesheet' href="{% static 'css/owl.carousel.css' %}" type='text/css' media='all'/>
<link rel='stylesheet' href="{% static 'css/owl.theme.css' %}" type='text/css' media='all'/>
<link rel='stylesheet' href="{% static 'css/font-awesome.min.css' %}" type='text/css' media='all'/>
<link rel='stylesheet' href='//fonts.googleapis.com/css?family=Lato:100,300,400,700,900,300italic,400italic,700italic,900italic' type='text/css' media='all'/>
<link rel='stylesheet' href='//fonts.googleapis.com/css?family=Pacifico:100,300,400,700,900,300italic,400italic,700italic,900italic' type='text/css' media='all'/>
<link rel='stylesheet' href='//fonts.googleapis.com/css?family=Anonymous+Pro:' type='text/css' media='all'/>
<link rel="stylesheet" href="//fonts.googleapis.com/css?family=Roboto:700" type="text/css" media="all"/>
<link rel='stylesheet' href="{% static 'css/style.css' %}" type='text/css' media='all'/>
<link rel='stylesheet' href="{% static 'css/custom.css' %}" type='text/css' media='all'/>
<link rel="stylesheet" href="{% static 'css/magnific-popup.css' %}" type='text/css' media='all' />