{% extends 'base.html' %}
{% load staticfiles %}
{% block content %}
<section class="noo-page-heading eff" style="background-image: url({% static 'images/CAKES.jpg' %}); background-repeat:no-repeat;background-size:contain;background-position:center;">
				<div class="container">
					<div class="noo-heading-content">
						<h1 class="page-title eff">Cakes</h1>
						<div class="noo-page-breadcrumb eff">
						</div>
					</div>
				</div>
			</section>
			<div class="main">
				<div class="pt-10 pb-10">
					<div class="container">
						<p>
							We have a variety of delicious cake flavours which are freshly made on order, our 	menu makes sure
							that there is something that everyone will like from light fresh cream cakes to richer truffle and
							praline cakes we’ve got you covered well! From simple old fashioned cakes to structural and tiered
							themed cakes we can do it all.
						</p>
					</div>
				</div>
			</div>
			{% if testimonials %}
					{% include 'testimonials.html' %}
			{% endif %}
{% endblock %}