{% extends 'base.html' %}
{% load staticfiles %}
{% block content %}
	<div class="main">
				<div class="pt-10 pb-10">
					<div class="container">
						<div class="row">
							<div class="noo_image_left col-sm-6">
								<div class="noo-image-signature">
									<div class="img-background-sign style-2" style="background-image: url({% static 'images/contactus.png' %});"></div>
								</div>
							</div>
							<div class="col-sm-6">
								<form class="form" method="POST" action="{% url 'contact_form' %}">{% csrf_token %}
									{% if success %}
										<p>
                            				{{ success }}
										</p>
									{% else %}
										<h3>
											Get in touch...</h3>
										<p>
                            				Please leave your details an we will get back to you shortly
										</p>
									{% endif %}
									
									<div class="row">
										<div class="col-md-6 col-sm-12">
											<div class="form-control-wrap your-name">
												<input type="text" name="contact_name" value="" size="40" class="form-control" placeholder="Name" required="required" />
											</div>
										</div>
										<div class="col-md-6 col-sm-12">
											<div class="form-control-wrap your-email">
												<input type="email" name="contact_email" value="" size="40" class="form-control" placeholder="Email" required="required" />
											</div>
										</div>
										<div class="col-md-12">
											<div class="form-control-wrap your-message">
												<textarea name="contact_message" cols="40" rows="10" class="form-control" placeholder="Message" required="required" ></textarea>
											</div>
										</div>
										<div class="col-md-12">
											<input type="submit" value="Submit" class="form-control submit btn-primary"/>
										</div>
									</div>
								</form>
							</div>
						</div>
					</div>
				</div>
				<div class="google-map">
					<div id="googleMap" data-icon="https://sss3bucket.s3.ap-south-1.amazonaws.com/images/icon_location.png" data-lat="19.2097165" data-lon="72.9845312"></div>
					<div class="noo-address-info-wrap">
						<div class="container">
							<div class="address-info">
								<h3>Contact info</h3>
								<ul>
									<li>
										<i class="fa fa-map-marker"></i>
										<span>Shop no 3, 57A, Vrindavan Society, Thane (W), Thane</span>
									</li>
									<li>
										<i class="fa fa-envelope"></i>
										<span><a href="mailto:contact@soulsugar.in">contact@soulsugar.in</a></span>
									</li>
									<li>
										<i class="fa fa-phone"> </i>
										<span><a href="tel:9819618065">+91-9819618065</a></span></li>
									<li>
										<i class="fa fa-globe"> </i>
										<span><a href="http://www.soulsugar.in">http://www.soulsugar.in</a></span>
									</li>
								</ul>
							</div>
						</div>
					</div>
				</div>
			</div>
{% endblock %}