{% extends 'base.html' %}
{% load staticfiles %}
{% block content %}
	<div class="main">
				<div class="pt-10 pb-10">
					<div class="container">
						<div class="row">
							<div class="noo_image_left col-sm-6">
								<div class="noo-image-signature">
									<div class="img-background-color"></div>
									<div class="img-background-sign style-2"></div>
								</div>
							</div>
							<div class="col-sm-6">
								<form class="form">
									<h3>Get in touch</h3>
									<p>
										Aliquam vitae mi a eros tincidunt ultricies. Donec porta gravida arcu. Morbi facilisis lorem felis, eu inerdum quam scelerisque eu.
									</p>
									<div class="row">
										<div class="col-md-6 col-sm-12">
											<div class="form-control-wrap your-name">
												<input type="text" name="your-name" value="" size="40" class="form-control" placeholder="Name"/>
											</div>
										</div>
										<div class="col-md-6 col-sm-12">
											<div class="form-control-wrap your-website">
												<input type="text" name="your-website" value="" size="40" class="form-control" placeholder="Website"/>
											</div>
										</div>
										<div class="col-md-6 col-sm-12">
											<div class="form-control-wrap your-email">
												<input type="email" name="your-email" value="" size="40" class="form-control" placeholder="Email"/>
											</div>
										</div>
										<div class="col-md-6 col-sm-12">
											<div class="form-control-wrap your-phone">
												<input type="text" name="your-phone" value="" size="40" class="form-control" placeholder="Phone"/>
											</div>
										</div>
										<div class="col-md-12">
											<div class="form-control-wrap your-message">
												<textarea name="your-message" cols="40" rows="10" class="form-control" placeholder="Message"></textarea>
											</div>
										</div>
										<div class="col-md-12">
											<input type="submit" value="Submit" class="form-control submit btn-primary"/>
										</div>
									</div>
								</form>
							</div>
						</div>
					</div>
				</div>
				<div class="google-map">
					<div id="googleMap" data-icon="https://sss3bucket.s3.ap-south-1.amazonaws.com/images/icon_location.png" data-lat="19.2097165" data-lon="72.9845312"></div>
					<div class="noo-address-info-wrap">
						<div class="container">
							<div class="address-info">
								<h3>Contact info</h3>
								<ul>
									<li>
										<i class="fa fa-map-marker"></i>
										<span>Shop no 3, 57A, Vrindavan Society, Thane (W), Thane</span>
									</li>
									<li>
										<i class="fa fa-envelope"></i>
										<span><a href="mailto:contact@soulsugar.in">contact@soulsugar.in</a></span>
									</li>
									<li>
										<i class="fa fa-phone"> </i>
										<span><a href="tel:9819618065">+91-9819618065</a></span></li>
									<li>
										<i class="fa fa-globe"> </i>
										<span><a href="http://www.soulsugar.in">http://www.soulsugar.in</a></span>
									</li>
								</ul>
							</div>
						</div>
					</div>
				</div>
			</div>
{% endblock %}