{% extends 'base.html' %}
{% load staticfiles %}
{% block content %}
<section class="noo-page-heading eff" style="background-image: url({% static 'images/CORPORATE.jpg' %}); background-repeat:no-repeat;background-size:contain;background-position:center;">
				<div class="container">
					<div class="noo-heading-content">
						<h1 class="page-title eff">Corporates</h1>
						<div class="noo-page-breadcrumb eff">
						</div>
					</div>
				</div>
			</section>
			<div class="main">
				<div class="pt-10 pb-10">
					<div class="container">
						<p>
							Product launches, corporate gifts, customer events, client meetings, sales pitches, staff parties... We will make sure your company parties are rocking with our yummy goodies which can be customized to perfectly represent your company.
						</p>
					</div>
				</div>
			</div>
{% endblock %}