{% extends 'base.html' %}
{% load staticfiles %}
{% block content %}
<section class="noo-page-heading eff">
				<div class="container">
					<div class="noo-heading-content">
						<h1 class="page-title eff">Cupcakes</h1>
						<div class="noo-page-breadcrumb eff">
						</div>
					</div>
				</div>
			</section>
			<div class="main">
				<div class="pt-10 pb-10">
					<div class="container">
						<p>
							Cupcakes are great individual treats. We offer you a variety of flavours and will gladly customize it accordingly to your needs. Be it a private celebrations like birthdays and baby showers or corporate events like brand openings, we can represent the occasion well with toppers, brand logos and different pantone colours as required.
						</p>
					</div>
				</div>
			</div>
{% endblock %}