{% extends 'base.html' %}
{% load staticfiles %}
{% block content %}
<section class="noo-page-heading eff">
				<div class="container">
					<div class="noo-heading-content">
						<h1 class="page-title eff">Desserts</h1>
						<div class="noo-page-breadcrumb eff">
						</div>
					</div>
				</div>
			</section>
			<div class="main">
				<div class="pt-10 pb-10">
					<div class="container">
						<p>
							If you something different than then humble cakes and cupcakes we have a great variety of desserts for you, cheesecakes, cookies, pies, brownies and entremets. And what’s more these are customizable as well.
						</p>
					</div>
				</div>
			</div>
			<div class="noo-footer-shop-now">
				<div class="container">
					<div class="col-md-7">
						<h4>- Every day fresh -</h4>
						<h3>organic food</h3>
					</div>
					<img src="images/organici-love-me.png" class="noo-image-footer" alt="" />
				</div>
			</div>
{% endblock %}