{% extends 'base.html' %}
{% load staticfiles %}
{% block content %}
<section class="noo-page-heading eff" style="background-image: url({% static 'images/DESSERTS_2.jpg' %}); background-repeat:no-repeat;background-size:contain;background-position:center;">
				<div class="container">
					<div class="noo-heading-content">
						<h1 class="page-title eff">Desserts</h1>
						<div class="noo-page-breadcrumb eff">
						</div>
					</div>
				</div>
			</section>
			<div class="main">
				<div class="pt-10 pb-10">
					<div class="container">
						<p>
							If you want something different than your humble cakes and cupcakes, we have a great variety of desserts for you, cheesecakes, cookies, pies, brownies and entremets. What’s more these are customizable as well.
						</p>
					</div>
				</div>
			</div>
			{% if testimonials %}
					{% include 'testimonials.html' %}
			{% endif %}
{% endblock %}