{% load staticfiles %}
<footer class="wrap-footer footer-2 colophon wigetized">
				<div class="container">
					<div class="row">
						<div class="col-md-3 col-sm-6 item-footer-four">
							<div class="widget widget_about"> 
								<div class="noo_about_widget">
									<a href="#">
										<img src="{% static 'images/ss_logo.png' %}" alt="" />
									</a>
									<p>
										Soul Sugar Bakery and Patisserie
									</p>
								</div>
							</div>
							<div class="widget widget_noo_social"> 
								<div class="noo_social">
									<div class="social-all">
										<a href="https://www.facebook.com/soulsugarbakery/" target="_blank" class="fa fa-facebook"></a>
										<a href="https://twitter.com/soulsugarbakery/" target="_blank" class="fa fa-twitter"></a>
										<a href="https://www.instagram.com/soulsugarbakery/" target="_blank" class="fa fa-instagram"></a>
									</div>
								</div>
							</div>
							<div class="widget widget_text">
								<div class="textwidget">
									<div class="copyright">
										2017 Soul Sugar. <br/>
										Developed with <i class="fa fa-heart-o"></i> by <a href="http://www.nikhilshirsath.com/">chiseledCoder</a>.
									</div>
								</div>
							</div>
						</div>
						<div class="col-md-3 col-sm-6 item-footer-four">
							<div class="widget widget_text">
								<h4 class="widget-title">Contact</h4> 
								<div class="textwidget">
									<h5>Address</h5>
									<p>Shop no 3, 57A, Vrindavan Society, Thane (W), Thane </p>
									<h5>Phone</h5>
									<p>
										<a href="tel:9819618065">+91-9819618065</a>
									</p>
									<h5>Email</h5>
									<p>
										<a href="mailto:contact@soulsugar.in">
											contact@soulsugar.in
										</a>
									</p>
								</div>
							</div>
						</div>
						<div class="col-md-3 col-sm-6 item-footer-four">
							<div class="widget widget_flickr">
								<h4 class="widget-title">Photo in instagram</h4>
								<div id="instafeed"></div>
							</div>
						</div>
						<div class="col-md-3 col-sm-6 item-footer-four">
							<div class="widget widget_noo_openhours clear">
								<h4 class="widget-title">Working time</h4> 
								<ul class="noo-openhours">
									<li>
										<span>Monday to Sunday: </span>
										<span>10:00am - 06:00pm </span>
									</li>
								</ul>
							</div>
							<div class="widget widget_noo_happyhours">
								<h4 class="widget-title">Made to Order ... with Love</h4> 
								<span></span>
								<span></span>
								<span></span>
								<span></span>
							</div>
						</div>
					</div>
				</div>
			</footer>