{% extends 'base.html' %}
{% load staticfiles %}
{% block content %}
<section class="noo-page-heading eff" style="background-image: url({% static 'images/HEALTHY_TREATS.jpg' %}); background-repeat:no-repeat;background-size:contain;background-position:center;">
				<div class="container">
					<div class="noo-heading-content">
						<h1 class="page-title eff">Healty Treats</h1>
						<div class="noo-page-breadcrumb eff">
						</div>
					</div>
				</div>
			</section>
			<div class="main">
				<div class="pt-10 pb-10">
					<div class="container">
						<p>
							We understand you can’t eat cakes all day, everyday (how we wish that were possible) so we have come up with some really healthy and wholesome treats to keep all you awesome people going. Our range of granola bars, muesli and healthier bakes are super nutritious, delicious and guilt-free.
						</p>
					</div>
				</div>
			</div>
{% endblock %}