{% extends 'base.html' %}
{% load staticfiles %}
{% block content %}
<div class="main">
				<div class="noo-slider-wrap">
					<ul class="noo-slider-image">
						{% for item in featured_products %}
						<li>
							<div class="image-style">
								<a href="#">
									<img width="610" height="520" src="
									{% if item.image %}{{ item.image.url }}{% else %}
									{% static 'images/slider/slide_610x520.jpg' %}{% endif %}" alt="" />
								</a>
							</div>
						</li>
						{% endfor %}
					</ul>
				</div>
				<div class="noo-height-product pt-8 pb-10">
					<div class="container">
						<div class="row">
							<div class="col-sm-12">
								<div class="noo-product-grid-wrap commerce product-style2">
									<div class="noo-sh-title">
										<img width="40" height="39" src="{% static 'images/icon_p.png' %}" alt=""/> 
										<h2>NEW products</h2>
										<p> There are many variations of passages of Lorem Ipsum available</p> 
									</div>
									<div class="noo-product-filter masonry-filters">
										<ul class="noo-header-filter" data-option-key="filter">
											<li>
												<a data-option-value="*" href="#all" class="selected">
													<span>All products</span>
												</a>
											</li>
											{% for item in product_category %}
											<li>
												<a data-option-value="*" href="#{{ item }}">
													<span>{{ item|title }}</span>
												</a>
											</li>
											{% endfor %}
										</ul>
									</div>
									<div class="noo-product-grid products row product-grid noo-grid-4">
										{% for item in new_products %}
											<div class="{{ item.product_category }} masonry-item noo-product-column col-md-4 col-sm-6 product">
											<div class="noo-product-inner">
												<div class="noo-product-thumbnail">
													<a href="shop-detail.html">
														<img width="600" height="760" src="{% if item.image %}{{ item.image.url }}{% else %}
									{% static 'images/product/product_260x330.jpg' %}{% endif %}" alt="" />
													</a>
												</div>
												<div class="noo-product-title"> 
													<h3><a href="shop-detail.html">{{ item|title }}</a></h3>
													<span class="price">
														<span class="amount">&#8377;&nbsp;{{ item.price }}</span><br/>for
														<span class="amount">&nbsp;{{ item.weight }}</span>
													</span>
													<span class="price">
														
													</span>
												</div> 
											</div>
										</div>
										{% endfor %}

									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
{% endblock %}