<div class="navbar-wrapper">
					<div class="navbar navbar-default">
						<div class="container">
							<div class="menu-position">
								<div class="navbar-header pull-left">
									<div class="noo_menu_canvas">
										<div class="btn-search noo-search">
											<i class="fa fa-search"></i>
										</div>
										<div data-target=".nav-collapse" class="btn-navbar">
											<span></span>
											<span></span>
											<span></span>
										</div>
									</div>
									<a href="./" class="navbar-brand">
										<img class="noo-logo-img noo-logo-normal" src="images/logo_black.png" alt="">
									</a>
								</div>  
								<nav class="noo-header-anchor">
									<ul>
										<li>
											<div>
												<span>CALL US NOW</span>
												<a href="#">0123-88-89-0999</a>
											</div>
											<div>
												<span><i class="fa fa-phone"></i></span>
											</div>
										</li>
										<li>
											<div>
												<a href="cart.html">
													<span class="has-cart">
														<i class="fa fa-shopping-cart"></i>
														<em>0</em>
													</span>
												</a>
											</div>
											<div>
												<a href="cart.html"><span>MY CART</span></a>
												<span class="price"><span class="amount">&#36;0.00</span></span>
											</div>
										</li>
									</ul>
								</nav>
								<nav class="pull-right noo-main-menu">
									<ul class="nav-collapse navbar-nav">
										<li class="menu-item-has-children current-menu-item">
											<a href="./">Home</a>
											<ul class="sub-menu">
												<li><a href="index-2.html">Homepage 2</a></li>
												<li><a href="index-3.html">Homepage 3</a></li>
												<li><a href="index-4.html">Homepage 4</a></li>
												<li><a href="index-5.html">Homepage 5</a></li>
												<li><a href="index-6.html">Homepage 6</a></li>
											</ul>
										</li>
										<li class="menu-item-has-children">
											<a href="#">Header</a>
											<ul class="sub-menu">
												<li><a href="header-1.html">Header 1</a></li>
												<li><a href="header-2.html">Header 2</a></li>
												<li><a href="header-3.html">Header 3</a></li>
												<li><a href="header-4.html">Header 4</a></li>
												<li><a href="header-5.html">Header 5</a></li>
												<li><a href="header-6.html">Header 6</a></li>
											</ul>
										</li>
										<li><a href="our-story.html">Our Story</a></li>
										<li class="menu-item-has-children noo_megamenu mega-col-columns-4">
											<a href="shop.html">Shop</a>
											<ul class="sub-menu">
												<li class="menu-item-has-children">
													<a href="#">Shop page</a>
													<ul class="sub-menu">
														<li><a href="shop-list.html">Shop List</a></li>
														<li><a href="shop-detail.html">Shop Detail</a></li>
														<li><a href="my-account.html">My Account</a></li>
														<li><a href="cart.html">Cart</a></li>
														<li><a href="cart-empty.html">Empty Cart</a></li>
														<li><a href="wishlist.html">Wishlist</a></li>
													</ul>
												</li>
												<li class="menu-item-has-children">
													<div class="noo_megamenu_widget_area">
														<div class="widget commerce widget_products">
															<h3 class="widget-title">Products</h3>
															<ul class="product_list_widget">
																<li>
																	<a href="shop-detail.html">
																		<img width="100" height="100" src="images/product/product_100x100.jpg" alt="" /> 
																		<span class="product-title">French Bread</span>
																	</a>
																	<span class="amount">&#36;10.00</span>
																</li>
																<li>
																	<a href="shop-detail.html">
																		<img width="100" height="100" src="images/product/product_100x100.jpg" alt="" /> 
																		<span class="product-title">Cookie</span>
																	</a>
																	<span class="amount">&#36;15.00</span>
																</li>
																<li>
																	<a href="shop-detail.html">
																		<img width="100" height="100" src="images/product/product_100x100.jpg" alt="" /> 
																		<span class="product-title">Brown Bread</span>
																	</a>
																	<span class="amount">&#36;12.00</span>
																</li>
															</ul>
														</div>
													</div>
												</li>
												<li>
													<div class="noo_megamenu_widget_area">
														<div class="widget commerce widget_products">
															<h3 class="widget-title">Featured</h3>
															<ul class="product_list_widget">
																<li>
																	<a href="shop-detail.html">
																		<img width="100" height="100" src="images/product/product_100x100.jpg" alt="" /> 
																		<span class="product-title">French Bread</span>
																	</a>
																	<span class="amount">&#36;10.00</span>
																</li>
																<li>
																	<a href="shop-detail.html">
																		<img width="100" height="100" src="images/product/product_100x100.jpg" alt="" /> 
																		<span class="product-title">Cookie</span>
																	</a>
																	<span class="amount">&#36;15.00</span>
																</li>
																<li>
																	<a href="shop-detail.html">
																		<img width="100" height="100" src="images/product/product_100x100.jpg" alt="" /> 
																		<span class="product-title">Brown Bread</span>
																	</a>
																	<span class="amount">&#36;12.00</span>
																</li>
															</ul>
														</div>
													</div>
												</li>
												<li>
													<div class="noo_megamenu_widget_area">
														<div class="widget commerce widget_products">
															<h3 class="widget-title">Sales</h3>
															<ul class="product_list_widget">
																<li>
																	<a href="shop-detail.html">
																		<img width="100" height="100" src="images/product/product_100x100.jpg" alt="" /> 
																		<span class="product-title">French Bread</span>
																	</a>
																	<span class="amount">&#36;10.00</span>
																</li>
																<li>
																	<a href="shop-detail.html">
																		<img width="100" height="100" src="images/product/product_100x100.jpg" alt="" /> 
																		<span class="product-title">Cookie</span>
																	</a>
																	<span class="amount">&#36;15.00</span>
																</li>
																<li>
																	<a href="shop-detail.html">
																		<img width="100" height="100" src="images/product/product_100x100.jpg" alt="" /> 
																		<span class="product-title">Brown Bread</span>
																	</a>
																	<span class="amount">&#36;12.00</span>
																</li>
															</ul>
														</div>
													</div>
												</li>
											</ul>
										</li>
										<li class="menu-item-has-children">
											<a href="boxes.html">Boxes</a>
											<ul class="sub-menu">
												<li><a href="box-detail.html">Box Detail</a></li>
											</ul>
										</li>
										<li class="menu-item-has-children">
											<a href="blog.html">Blog</a>
											<ul class="sub-menu">
												<li class="menu-item-has-children">
													<a href="blog-masonry.html">Blog Masonry</a>
													<ul class="sub-menu">
														<li><a href="blog-masonry-two-columns.html">2 Columns</a></li>
														<li><a href="blog-masonry.html">3 Columns</a></li>
														<li><a href="blog-masonry-four-columns.html">4 Columns</a></li>
													</ul>
												</li>
												<li><a href="blog.html">Blog Listing</a></li>
												<li><a href="blog-detail.html">Blog Single Default</a></li>
												<li><a href="blog-detail-video.html">Blog Single Video</a></li>
												<li><a href="blog-detail-audio.html">Blog Single SoundCloud</a></li>
												<li><a href="blog-detail-slider.html">Blog Single Slider</a></li>
											</ul>
										</li>
										<li><a href="contact.html">Contact</a></li>
									</ul>
								</nav>
							</div>
						</div>
					</div>
				</div>