{% load staticfiles %}
<div class="navbar-wrapper">
					<div class="navbar navbar-default">
						<div class="container">
							<div class="menu-position">
								<div class="navbar-header pull-left">
									<div class="noo_menu_canvas">
										<div class="btn-search noo-search">
											<i class="fa fa-search"></i>
										</div>
										<div data-target=".nav-collapse" class="btn-navbar">
											<span></span>
											<span></span>
											<span></span>
										</div>
									</div>
									<a href="{% url 'index_page' %}" class="navbar-brand">
										<img class="noo-logo-img noo-logo-normal" src="{% static 'images/ss_logo.png' %}" alt="" height="40" width="150">
									</a>
								</div>  
								<nav class="pull-right noo-main-menu">
									<ul class="nav-collapse navbar-nav">
										<li><a href="{% url 'cakes_page' %}">Cakes</a></li>
										<li><a href="{% url 'cupcakes_page' %}">Cup Cakes</a></li>
										<li><a href="{% url 'healthy_treats_page' %}">Healthy Treats</a></li>
										<li><a href="{% url 'corporates_page' %}">Corporates</a></li>
										<li><a href="{% url 'occasions_page' %}">Occasions</a></li>
										<li><a href="{% url 'contact_page' %}">Contact</a></li>
										<li><a href="{% url 'blog_list' %}">Blog</a></li>
									</ul>
								</nav>
							</div>
						</div>
					</div>
				</div>