{% extends 'base.html' %}
{% load staticfiles %}
{% block content %}
<section class="noo-page-heading eff">
				<div class="container">
					<div class="noo-heading-content">
						<h1 class="page-title eff">Occasions</h1>
						<div class="noo-page-breadcrumb eff">
						</div>
					</div>
				</div>
			</section>
			<div class="main">
				<div class="pt-10 pb-10">
					<div class="container">
						<p>
							We have a diverse range of occasions we cater to right from baby showers, engagements, weddings, birthdays, anniversaries, parties or simple when you feel like indulging.
						</p>
					</div>
				</div>
			</div>
			<div class="noo-footer-shop-now">
				<div class="container">
					<div class="col-md-7">
						<h4>- Every day fresh -</h4>
						<h3>organic food</h3>
					</div>
					<img src="images/organici-love-me.png" class="noo-image-footer" alt="" />
				</div>
			</div>
			
{% endblock %}